<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
nao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 

Observação: NÃO armazene credenciais no repositório. Baixe o arquivo "Publish Profile" do portal Azure (App Service > Get publish profile)
 e importe no Visual Studio (Publish -> Import Profile) ou substitua este arquivo localmente. O arquivo baixado conterá a senha/credentials necessárias.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a51dc5d9-931d-44e2-a0e3-9fa32988c6a1/resourceGroups/LemuriaResourceGroup/providers/Microsoft.Web/sites/Lemuria</ResourceId>
    <ResourceGroup>LemuriaResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lemuria.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8a0256ff-1747-405e-a3c3-37cb9b5e5f67</ProjectGuid>
    <MSDeployServiceURL>lemuria.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Lemuria</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Lemuria</UserName>
    <!-- Password intentionally omitted. Import the publish profile from Azure portal for credentials. -->
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <!-- For Azure App Service, prefer framework-dependent deployment (SelfContained=false) to use the platform runtime -->
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>