@model Usuario


<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Olá, @Model.NomeUsuario</a>
<a id="BtnAjuda" asp-area="" asp-controller="Login" asp-action="Sair">Sair do usuário</a>