################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Prospera/.vs/Prospera/FileContentIndex/3515a22f-ccee-4718-9b04-8f0a3a9fba3b.vsidx
