@model Prospera.Helpers.TerceirosViewModel;
@{
    ViewData["Title"] = "Contas Bancarias";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Evita que o usuario rotacione a tela ou aproxime para ver as informaçoes -->
    <meta name="viewport" content="width=device-width">
    <!-- link css -->
    <link rel="stylesheet" href="/css/PaginaInicial.css">
    <!-- Css Pagina Axiliares -->
    <!-- Receitas css -->
    <link rel="stylesheet" href="/css/PaginaMenus/Receitas.css">
    <!-- DespesasCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/Despesas.css">
    <!-- ContaBancariaCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/ContaBancaria.css">
    <!-- TerceirosCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/Terceiros.css">
    <!-- TerceirosConsultaCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/ConsultaTerceiros.css">
    <!-- TransacaoConsultaCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/Transacao.css">
    <!-- Fonte inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/img/Favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:ital,wght@1,100&display=swap"
          rel="stylesheet">

    <title>Prospera</title>
</head>

<body>
    <ul id="FundoMenusContasBanc">
        <ul class="Container ContaBancContainer">
            <li class="HeadMenuContasBanc">
                <h4>Cadastro de Contas Bancarias</h4>
            </li>
            <li class="TxtInfContBanc">

                <span>
                    <h4>Banco</h4>
                    <h4>Observação</h4>
                    <h4>Numero Conta</h4>
                    <h4>Agencia</h4>
                    <h4>Tipo da Conta</h4>
                    <h4>Saldo</h4>
                    <h4 class="NomID2">ID</h4>
                </span>
                <select id="DropBancoCont" onchange="SelecaoDropLogo()">
                    <option value=""></option>
                    <option value="Inter">Inter</option>
                    <option value="Bradesco">Bradesco</option>
                    <option value="Itau">Itau</option>
                    <option value="BancoDoBrasil">Banco do Brasil</option>
                    <option value="Vitor">Roxo</option>

                </select>
                <input type="text" id="TxtContBancObservacao" maxlength="100">
                <input type="text" id="TxtContBancNumero">
                <input type="text" id="TxtContBancAgencia">
                <input type="text" id="TtxContBancTipoConta">
                <input type="text" id="TtxContBancSaldo">
                <input type="text" id="TxtContaBancBuscaId" maxlength="3">
                <button id="BtnContBancCadastrar">Cadastrar</button>
                <button id="BtnContBancVoltar">Voltar</button>
                <button id="BtnContBancLimpar">Limpar</button>
                <button id="BtnContaBancApagar">Excluir</button>
                <button id="BtnContaBancAlterar">Alterar</button>
                <button id="BtnContaBancConsultar">Buscar</button>
                <button id="BtnContaBancLista">Consultar</button>
            </li>
            <li>
             <button id="ContBancVoltar"><a asp-controller="Home" asp-action="MenuUsuario">Voltar</a></button>
            <h4>Pessoa</h4>
            </li>
            <li id="ImgBancoSelect">
                <img src="/img/PaginaInicial/PaginaAuxiliar/ContaBanc/IconeBradesco.png" class="LgBradesco">
                <img src="/img/PaginaInicial/PaginaAuxiliar/ContaBanc/IconeInter.png" id="LgInter">
                <img src="/img/PaginaInicial/PaginaAuxiliar/ContaBanc/IconeItau.png" class="LgItau">
            </li>
        </ul>
    </ul>


    <script src="/js/PaginaInicial.js" asp-append-version="true"></script>
</body>

</html>