@{
    Layout = null;
    ViewData["Title"] = "VariasExibicoes";
}

<style>
    .Btn {
        background-color: #801D7B;
        text-align: center;
        position: relative;
        top: 0.1em;
        border-radius: 20px;
        transition: .5s;
        font-weight: 600;
        color: white;
        padding: 5px;
        text-decoration: none;
    }
</style>
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">

<button class="Btn btn-primary" id="exibirMenu">Menu</button>
<button class="Btn btn-primary" id="mostrarTerceiros">Terceiros</button>
<button class="Btn btn-primary" id="MostrarContas">Mostrar Contas</button>
<button class="Btn cancelarExibicaoTerceiros">Limpar</button>


@* Botão para a página Login de Usuario *@
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Página inicial</a>

<div class="IVisualizacoes">
</div>
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">

<div class="ComponentesView"></div>
</div>

<!-- Carregue o jQuery primeiro, preferencialmente por meio de um CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Em seguida, carregue o seu arquivo Exibicoes.js -->
<script src="~/js/Exibicoes.js"></script>
