@{
    Layout = null;
    ViewData["Title"] = "VariasExibicoes";
}
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">

<button id="exibirMenu">Menu</button>
<button id="mostrarTerceiros">Terceiros</button>
<button id="MostrarContas">Mostrar Contas</button>
<button class="cancelarExibicaoTerceiros">Limpar</button>


<div class="IVisualizacoes">

</div>
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">

<div class="ComponentesView"></div>
</div>

<!-- Carregue o jQuery primeiro, preferencialmente por meio de um CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Em seguida, carregue o seu arquivo Exibicoes.js -->
<script src="~/js/Exibicoes.js"></script>
