﻿@{
    ViewData["Title"] = "Prospera";
}

<head>
    <!-- Fonte inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:ital,wght@1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/Index.css">
</head>

@* MODELO PARA INSERSÇÃO DE LINK PARA PÁGINAS DIFERENTES!
    <a asp-controller="NOME-DO-CONTROLADOR" asp-action="NOME-DO-ARQUIVO" class="CLASSES PARA ELEMENTOS CSS">TEXTO A SER EXIBIDO NO FRONT</a>

    NOME-DO-CONTROLADOR será o nome da pasta em que está armazenado o arquivo .cshtml
    NOME-DO-ARQUIVO será o nome final do arquivo a ser aberto, como index.cshtml
    CLASSES PARA ELEMENTOS CSS são as classes normais que se adiciona a itens html, podendo também utilizar ID ao invés de classe
*@

<body>
    <div class="MenuNav container">

        <ul class="MenuVanInfContainer">
            <li class="LibtnLogin"><a asp-controller="Login" asp-action="Login">LOGIN</a></li>
            <a href="#">About</a>
            <a href="#">Serviços</a>
            <a href="#">Contate-nos</a>
            <a href="#">FAQ</a>
            <li class="LiperiodoGratis"><a href="#">Periodo Grátis</a></li>
        </ul>
    </div>
    <div class="ReginInfCentral">
        <li class="IconesFundoIndex">
            <img src="/img/Index/EstiloBolinha1.png" class="ImgIndex1">
            <img src="/img/Index/EstiloBolinha1.png" class="ImgIndex2">
            <img src="/img/Index/EstiloBolinha1.png" class="ImgIndex3">
        </li>
        <ul class="InfSobrePros">

            <span>Seu Futuro Financeiro Começa Aqui!!</span>
            <h4>PROSPERA</h4>

            <li class="LibtnAproveitar"><a asp-controller="Cadastro" asp-action="Cadastro" id="BtnAproveitar">Aproveitar</a>
            <li class="LinkSite">
                <a href="">Invistajá.com.br</a>
            </li>
            <img src="~/img/Index/iconePrincipalInf.png" id="ImgPrincipal">
        </ul>

    </div>
    <div class="RegionMeioInf">
        <ul class="MeuInfApp-Container">
            <li class="InfQrcode">
                <h1>Gerencie as suas Contas de uma Maneira fácil e Rápida.</h1>
                <h4 class="h4-1">Saiba mais sobre o nosso aplicativo</h4>
                <h4 class="h4-2">Coloque a câmera em cima do Qrcode e acompanhe as novidades de perto</h4>
                <img src="/img/Index/IconeQrCode.png" class="QrcodeIcon">
                <img src="/img/Index/IconeMaoCel.png" class="MaoAppIcon">
            </li>
            <li class="TextoInfApp">
                <h4 class="h4-3">
                    Tenha em mãos as melhores ferramentas e os melhores métodos.
                    Aprenda a gerenciar melhor o seu dinheiro. Com o nosso aplicativo, você sempre estará em vantagem.
                </h4>
            </li>

        </ul>
    </div>

    <div class="RegionFooter">
        <ul class="CardInsiraEmails">
            <h4>Coloque o seu e-mail e acompanhe as novidades</h4>
            <li class="LiCheckFooter"><input type="checkbox" name="" id="ChekFooterEmail"><h4>Aceito Receber e-mails sobre promoções e planos</h4></li>
            <li class="LitxtFooterEmail"><input type="Email" autocomplete="off" id="TxtFooterEmail" placeholder="Email:"></li>
            <li class="LibtnFooterEnviar"><a href="">Enviar</a></li>

        </ul>
        <ul class="Footer">
            <img src="/img/Favicon.png" class="LogoFooter">
            <h2>PROSPERA</h2>
        </ul>
        <ul class="InfoFooter">
            <li class="LiCabecalhoFooter">
                <h4>Navegação</h4>
                <h4>Contatos</h4>
            </li>
            <li class="LibtnFooter">
                <a asp-controller="" asp-action="" id="BtnFooterHome">Home</a>
                <a asp-controller="" asp-action="" id="BtnFooterLogin">Login</a>
                <a asp-controller="" asp-action="" id="BtnFooterAjuda">Ajuda</a>
            </li>
            <li class="LiContatoFooter">
            <li claclass="ImgFooter">
                <img src="" class="ImgFooterOutlook">
                <img src="" class="ImgFooterTwitter">
                <img src="" class="ImgFooterInstagram">
                <img src="" class="ImgFooterLinkedin">
            </li>
            <h4 class="H4Linkedin"></h4>
            <h4 class="H4Twiter"></h4>
            <h4 class="H4Instagram"></h4>
            <h4 class="H4Outlook"></h4>
        </ul>
    </div>
    <script src="/js/PaginaInicial.js"></script>

</body>