html {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
  
  
  }
  
  ul,
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  
  }
  
  input{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color:var(--color-Sextiary)
  }
 
  body {
    background-color: var(--color-Fundo) !important;
    /* background-color: black; */
  }
  
  :root {
    --color-default: #242424;
    --color-primary: #e64c30;
    --color-segundary: #1B1572;
    --color-tertiary: #801D7B;
    --color-tertiary2: #fdf6f6;
    --color-quartiary: #7836FA;
    --color-quintiaty: #373435;
    --color-Sextiary:#605F60;
    --color-Fundo: #F4F2FF;
    --color-RoxaCardMov:#8C52FF;
  }
  
  
  
  
  html {
    position: relative;
    min-height: 100%;
  
  }
  
  body:not(.MenusSelecao h4) {
    font-size: 14px;
  
  
  }
  
  /*#region ReceitasPag*/

.inputDespesas{
    margin-top:50px;
}
.HeadMenuDespesas{
  background-color: white;
  position: absolute;
  width: 100%;
  left: 0;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
}

.HeadMenuDespesas h4{
 color: var(--color-quintiaty);
text-align: left;
padding-left: 5em;
}
.Container
{
/* display: none; */
 background-color: var(--color-RoxaCardMov);
    position: relative;
    display: flex;
    height: 32rem;
    width: 35%;
    /* right: 1em; */
    top: 8em;
    border-radius: 12px;
   margin: auto;
  transition: .7s;
   box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}


#FundoMenusDespesas:not(.Container){
  /* display: none; */
    background-color:white;
    width: 98%;
    left: 0;
    top: -1em;
    height: 100%;
    z-index: 99999;
    transition: .7s;
    position: absolute; /* Certifique-se de que outros elementos dentro da div não sejam afetados */
    backdrop-filter: blur(20px); /* Ajuste o valor para o desfoque desejado */
    /* opacity: 0.5; */
    background-color: rgba(195, 191, 191, 0.5); /* Cor vermelha com 50% de transparência */;
}


.TxtInfDespesas{
/* background-color: red; */
position: absolute;
width: 100%;
height: 80%;
display: flex;
flex-direction: column;
left: 0;
top: 3em;
}

.TxtInfDespesas button:hover{
  border-radius: 0px;
  transform: scale(1.1);
  transition: .3s;
}

.TxtInfDespesas input{
border-radius: 5px;
  border: none;
  outline: none;
  
  width: 20em;
  z-index: 99999;
  margin-bottom: -0.5em;
  height: 3em;
  margin-left: 4em;
  margin-top: 3em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.TxtInfDespesas button{
  border-radius: 5px;
  border: none;
  outline: none;
  width: 20em;
  margin-bottom: -0.5em;
  height: 3em;
  margin-left: 4em;
  margin-top: 3em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: .3s;
  
}
#BtnDespesasCadastrar{
  background-color: white;
  position: absolute;
  bottom: 0;
 right: 1em;
  width: 20%;
  
}
#BtnDespesasVoltar{
 background-color: var(--color-RoxaCardMov);
  position: absolute;
  top: -5.4em;
  right: 4em;
  width: 23%;
  height: 6%;
  color: white;
}
#BtnDespesasVoltar a{
  
   color: white;
 }
#BtnDespesasLimpar a{
   color: white;
 }
#BtnDespesasLimpar{
  background-color: white;
  position: absolute;
  left: -2em;
  bottom: 0;
  width: 20%;
}
#BtnDespesasApagar{
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 13em;
  width: 20%;
}
#BtnDespesasAlterar{
  background-color: white;
  position: absolute;
  bottom: 0;
  right: 28.4em;
  width: 20%;
}
#BtnDespesasConsultar{
  background-color: white;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 4em;
  width: 20%;}
#TxtDespesasObservacao{
    width: 33em;
}
.TxtInfDespesas span{
  position: absolute;
  left: 4em;
}
.TxtInfDespesas span h4{
padding-bottom: 2.8em;
text-align: left;
}

#TxtDespesasNome{
 position: absolute;
 left: 0;
}
#TxtDespesasObservacao{
  position: absolute;
  left: 0;
  top: 5.5em;
 }
 #TxtDespesasValor{
  position: absolute;
  left: 0;
  top: 11em;
 }
 #TxtDespesasData{
  position: absolute;
  left: 0;
  top: 17em;
 }
 #MetodoPgtoCont{
  position: absolute;
  left: 0;
  top: 23em;
 }
 #StatusCont{
  position: absolute;
  left: 0;
  top: 28em;
 }
 #DespesasDropPessoaDespesas{
  position: absolute;
  left: 0;
  top: 34em;
 }

.DropContainer{
    position: absolute;
    /* background-color: #373435; */
    width: 70%;
    height: 3em;
    bottom: 7rem;
    left: 4em;
}
.DropContainer select{
 height: 3em;
 width: 70%;
 border-radius: 5px;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.DropContainer h4{
  position: absolute;
  color: white;
  font-size: 15px;
  bottom: 2em;
  font-weight: 600;
}

/* IMAGEM DE CARREGADOMENTO */
#CarregamentoMenu{
  display: none;
  z-index: 99999;
  width: 6%;
  position: absolute;
 left: 37rem;
 top: 16rem;
}
#CarregamentoMenu img{
width:90px;
animation: rotate 3s linear infinite;

}

 #TxtDespesasBuscaId{
  position: absolute;
  top: 0;
  width: 5%;
  height: 2.8em;
  right: 28em;
  text-align: center;
  font-weight: 600;
} 
  /*#endregion*/

.NomID{
  position: absolute;
  top: 0;
  right:  -13.3em;
}
.DropContainerDespesas{
    position: absolute;
    /* background-color: #373435; */
    width: 70%;
    height: 3em;
    bottom: 7.2rem;
    left: 4em;
}
.DropContainerDespesas select{
 height: 3em;
 width: 70%;
 border-radius: 5px;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
#TxtDespesasBuscaId{
  position: absolute;
  top: 0;
  width: 6%;
  height: 2.8em;
  right: 16em;
  text-align: center;
  font-weight: 600;
}


  /*#endregion/