html {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

ul,
li {
    list-style: none;
}

a:not(#BtnEsqSenha, #BtnInscrevase, #BtnAjuda, #BtnCadastrarLogar) {
    text-decoration: none;
}

input {
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    /* background-color: black; */
}

button {
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

:root {
    --color-default: #242424;
    --color-primary: #e64c30;
    --color-segundary: #1B1572;
    --color-tertiary: #801D7B;
    --color-tertiary2: #fdf6f6;
    --color-quartiary: #7836FA;
    list-style: none;
}




html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 14px;
}

/*#region Login*/

/*#region NavBar */
.MenuNav {
    position: relative;
    width: 100%;
    height: 3rem;
}

.Nav-Container {
    width: 17rem;
    display: flex;
    position: absolute;
    left: 4em;
}

    .Nav-Container img {
        width: 50px;
        height: 50px;
        padding-right: .3em;
        padding-top: .5em;
    }

    .Nav-Container h2 {
        color: var(--color-tertiary);
        font-weight: 800;
        padding-right: 2em;
    }

    .Nav-Container li {
        line-height: 42px;
        background-color: var(--color-tertiary);
        width: 10em;
        height: 3em;
        text-align: center;
        position: relative;
        top: 0.6em;
        border-radius: 8px;
        transition: .3s;
    }

        .Nav-Container li:hover {
            background-color: var(--color-quartiary);
            transition: .3s;
            transform: scale(1.1);
        }

        .Nav-Container li a {
            color: white;
            font-weight: 600;
            padding: 1em 3.5em;
            border-radius: 8px;
        }

/*#endregion*/

/*#region Central Div*/

/* .div-central img{
width: 850px;
position: absolute;
right: 0.5em;
top: 5em;

} */
.div-central {
    width: 50%;
    position: relative;
    display: flex;
    left: 18rem;
    top: 8rem;
    height: 23.5rem;
    /* background-color: aqua; */
}

.imgLateral img {
    width: 600px;
    z-index: 1;
    position: absolute;
    right: 0;
}

.imgFund img {
    width: 560px !important;
    position: absolute;
    left: -1.5em;
    top: 1em;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
}

/* .ImgFundo img{
  width: 55%;
  position: absolute;
  top: 1em;
  left:0em;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
} */


.TxtSenha {
    position: absolute !important;
    bottom: 19.2em !important;
}

.CardInfLogin {
    background-color: white;
    position: absolute;
    right: 0;
    width: 42%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.LoginInf {
    /* background-color: #e64c30; */
    position: relative;
    align-items: center;
    top: 1.8em;
    width: 80%;
    height: 36em;
}

    .LoginInf h2 {
        text-align: left;
        position: absolute;
        top: 3em;
        color: var(--color-tertiary);
    }

    /* .LiTxtLogin img{
  position: absolute;
  width: 20px;
  left: 1.3em;
  top: .9em;
  z-index: 1;
 
  } */
    .LoginInf h4:not(.CheckH4):not(.BtxtEsqSenha) {
        position: absolute;
        top: 80%;
        color: var(--color-tertiary);
    }



    .LoginInf li input:not(#ChekManterLogado) {
        padding-left: 2.7em;
        position: absolute;
        top: 35%;
        border: none;
        width: 14em;
        border-radius: 20px;
        height: 3em;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }

.IconSenha img {
    position: absolute;
    width: 20px;
    left: 3.6em;
    top: 17.4em;
    z-index: 99999;
}

.IconLogin img {
    position: absolute;
    width: 20px;
    left: 3.6em;
    top: 13.5em;
    z-index: 99999;
}

/* .LiTxtSenha{
  background-color: #7836FA;
  top: 42%!important;
  position: relative;
  margin-bottom: 2em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
 } */

.LoginInf input::placeholder {
    padding-left: 3em;
    color: var(--color-tertiary);
    font-weight: 700;
}

.CheckH4 {
    position: absolute;
    top: 53%;
    left: 13%;
    color: var(--color-tertiary);
}

#btn-transparent {
    background-color: transparent;
    color: white;
    top: 50%;
}


#BtnLogin {
    position: absolute;
    top: 64%;
    left: 23%;
    transition: .3s;
}

    #BtnLogin button {
        color: white;
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        background-color: var(--color-tertiary);
        padding: 0.8em 6em;
        border-radius: 5px;
        cursor: pointer;
    }

    #BtnLogin:hover {
        background-color: var(--color-quartiary);
        transition: .3s;
        transform: scale(1.1);
    }

.BtxtEsqSenha {
    position: absolute;
    bottom: 0;
    right: 3em;
    /* background-color: red; */
}

#BtnAjuda {
    position: absolute;
    right: 10.7em;
}

.ImgLateral {
    width: 1400px !important;
    height: 1400px !important;
    position: absolute;
    top: -6rem;
    right: -65rem;
    opacity: .9;
}


@media screen and (max-width: 768px) {
    .div-central img {
        display: none;
    }

    .ImgFundo img {
        display: none;
    }

    .ImgFundo2 img {
        display: none;
    }

    .div-central {
        left: 0;
        width: 80%;
        /* background-color: #7836FA; */
    }

    .CardInfLogin {
        left: 11em;
        width: 63%;
    }

    .Nav-Container {
        width: 80%;
        /* background-color: #801D7B; */
    }

        .Nav-Container li {
            position: absolute;
            right: 1.5em;
        }

    #BtnLogin {
        margin-top: 1.5em;
    }

    .CheckH4 {
        margin-top: 2em;
    }
}


@media screen and (max-width: 360px) {
    .ImgLateral {
        display: none;
    }

    .Nav-Container {
        /* background-color: #7836FA; */
        left: 1em;
    }

    .CardInfLogin {
        width: 30%;
    }

    .LoginInf {
        right: 2em;
        /* background-color: #801D7B; */
    }

    .div-central img {
        display: none;
    }

    .CardInfLogin {
        position: absolute;
        top: -6em;
        left: .3em;
        height: 95%;
        width: 90%;
    }

    .LoginInf {
        /* background-color: #e64c30; */
        position: relative;
        width: 90%;
    }

    #TxtLogin {
        position: absolute;
        left: .6em;
    }

    #TxtSenha {
        position: absolute;
        left: -2.3em;
    }

    #BtnLogin {
        position: absolute;
        left: 4em;
        margin-top: 1em;
    }

    .Nav-Container h2 {
        font-size: 14px;
        padding-left: 1em;
        padding-top: .4em
    }

    .Nav-Container img {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
    }
}


/*#endregion*/

/*#endregion*/

/*#region Cadastrar*/

.CardInfCadastrar {
    background-color: white;
    position: absolute;
    right: 0;
    width: 42%;
    height: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.CadastrarInf {
    /* background-color: #e64c30; */
    position: relative;
    align-items: center;
    top: 1.8em;
    width: 80%;
    height: 36em;
}

    .CadastrarInf h2 {
        text-align: left;
        position: absolute;
        left: 6em;
        top: 1em;
        color: var(--color-tertiary);
    }
   
    .CadastrarInf input:not(#ChekPermitirEnvioEmail)
{
    padding-left: 3em;
    position: absolute;
    top: 35%;
    border: none;
    margin: 0;
    width: 14em;
    border-radius: 20px;
    height: 3em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.LiTxtNome {
    top: 20%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

    .LiTxtNome img {
        position: absolute;
        width: 20px;
        left: 1.3em;
        top: 0.7em;
    }

.LiTxtEmail {
    top: 31%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

    .LiTxtEmail img {
        position: absolute;
        width: 20px;
        left: 1.3em;
        top: 0.7em;
    }

.LiTxtSenha {
    top: 42%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

    .LiTxtSenha img {
        position: absolute;
        width: 20px;
        left: 1.3em;
        top: 0.7em;
    }

.LiTxtCPF {
    top: 53%;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


    .LiTxtCPF img {
        position: absolute;
        width: 20px;
        left: 1.3em;
        top: 0.7em;
    }




.CadastrarInf input::placeholder {
    padding-left: 3em;
    color: var(--color-tertiary);
    font-weight: 700;
}


.ImgFundo2 img {
    width: 560px !important;
    position: absolute;
    left: -1.5em;
    top: 1em;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
}

#BtnCadastrar {
    position: absolute;
    width: 13em;
    height: 2.7em;
    border-radius: 5px;
    top: 72%;
    left: 10.2em;
    background-color: #801D7B;
    text-align: center;
    transition: .3s;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

    #BtnCadastrar:hover {
        background-color: var(--color-quartiary);
        transition: .3s;
        transform: scale(1.1);
    }

.BtxtInscrevase {
    position: absolute;
    bottom: 0;
}

.CheckH4Cadastro {
    position: absolute;
    top: 61%;
    left: 8%;
    color: var(--color-tertiary);
    font-size: 12px;
}


@media screen and (max-width: 768px) {
    .div-central img {
        display: none;
    }

    .ImgFundo img {
        display: none;
    }

    .ImgFundo2 img {
        display: none;
    }

    .div-central {
        left: 0;
        width: 80%;
        /* background-color: #7836FA; */
    }

    .CadastrarInf {
        left: 11em;
        width: 63%;
    }

    .Nav-Container {
        width: 80%;
        /* background-color: #801D7B; */
    }

        .Nav-Container li {
            position: absolute;
            right: 1.5em;
        }

    #BtnLogin {
        margin-top: 1.5em;
    }

    .CheckH4 {
        margin-top: 2em;
    }
}


@media screen and (max-width: 360px) {
    .ImgLateral {
        display: none;
    }

    .Nav-Container {
        /* background-color: #7836FA; */
        left: 1em;
    }

    .CadastrarInf {
        width: 30%;
    }

    .LoginInf {
        right: 2em;
        /* background-color: #801D7B; */
    }

    .div-central img {
        display: none;
    }

    .CardInfLogin {
        position: absolute;
        top: -6em;
        left: .3em;
        height: 95%;
        width: 90%;
    }

    .LoginInf {
        /* background-color: #e64c30; */
        position: relative;
        width: 90%;
    }

    #TxtLogin {
        position: absolute;
        left: .6em;
    }

    #TxtSenha {
        position: absolute;
        left: -2.3em;
    }

    #BtnLogin {
        position: absolute;
        left: 4em;
        margin-top: 1em;
    }

    .Nav-Container h2 {
        font-size: 14px;
        padding-left: 1em;
        padding-top: .4em
    }

    .Nav-Container img {
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
    }
}
/*#endregion*/
