@model Prospera.Models.Contas

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Contas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdContas" />
            <div class="form-group">
                <label asp-for="CodigoCont" class="control-label"></label>
                <input asp-for="CodigoCont" class="form-control" />
                <span asp-validation-for="CodigoCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCont" class="control-label"></label>
                <input asp-for="TipoCont" class="form-control" />
                <span asp-validation-for="TipoCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatEmissaoCont" class="control-label"></label>
                <input asp-for="DatEmissaoCont" class="form-control" />
                <span asp-validation-for="DatEmissaoCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatVenciCont" class="control-label"></label>
                <input asp-for="DatVenciCont" class="form-control" />
                <span asp-validation-for="DatVenciCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecebedorCont" class="control-label"></label>
                <input asp-for="RecebedorCont" class="form-control" />
                <span asp-validation-for="RecebedorCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PagadorCont" class="control-label"></label>
                <input asp-for="PagadorCont" class="form-control" />
                <span asp-validation-for="PagadorCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricaocont" class="control-label"></label>
                <input asp-for="Descricaocont" class="form-control" />
                <span asp-validation-for="Descricaocont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorCont" class="control-label"></label>
                <input asp-for="ValorCont" class="form-control" />
                <span asp-validation-for="ValorCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusCont" class="control-label"></label>
                <input asp-for="StatusCont" class="form-control" />
                <span asp-validation-for="StatusCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPgtoCont" class="control-label"></label>
                <input asp-for="MetodoPgtoCont" class="form-control" />
                <span asp-validation-for="MetodoPgtoCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacaoCont" class="control-label"></label>
                <input asp-for="ObservacaoCont" class="form-control" />
                <span asp-validation-for="ObservacaoCont" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuario" class="control-label"></label>
                <select asp-for="IdUsuario" class="form-control" asp-items="ViewBag.IdUsuario"></select>
                <span asp-validation-for="IdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
