@model Usuario
@{
    Layout = null;
}
<div id="IViewTerceiros IVisualizacoes"></div>
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">

<button class="cancelarExibicaoTerceiros">Cancelar Exibição Terceiros</button>


<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">
<a href="https://play.google.com/store/apps/details?id=net.zedge.android&hl=pt_BR&gl=US"
   target="_blank">
    <img src="/img/PaginaInicial/Menu/Qrcode.png">
</a>

<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">

<a href="https://play.google.com/store/apps/details?id=net.zedge.android&hl=pt_BR&gl=US"
   target="_blank">
    <img src="/img/PaginaInicial/Menu/Qrcode.png">
</a>

<hr style="border: 1px solid #665e65; opacity: 0.5;">
<hr style="border: 1px solid #665e65; opacity: 0.5;">

<a href="https://play.google.com/store/apps/details?id=net.zedge.android&hl=pt_BR&gl=US"
   target="_blank">
    <img src="/img/PaginaInicial/Menu/Qrcode.png">
</a>


<!-- Carregue o jQuery primeiro, preferencialmente por meio de um CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Em seguida, carregue o seu arquivo Exibicoes.js -->
<script src="~/js/Exibicoes.js"></script>
