@model Prospera.Helpers.TerceirosViewModel;
@{
    ViewData["Title"] = "Terceiros";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Evita que o usuario rotacione a tela ou aproxime para ver as informaçoes -->
    <meta name="viewport" content="width=device-width">
    <!-- link css -->
    <link rel="stylesheet" href="/css/PaginaInicial.css">
    <!-- Css Pagina Axiliares -->
    <!-- Receitas css -->
    <link rel="stylesheet" href="/css/PaginaMenus/Receitas.css">
    <!-- DespesasCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/Despesas.css">
    <!-- ContaBancariaCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/ContaBancaria.css">
    <!-- TerceirosCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/Terceiros.css">
    <!-- TerceirosConsultaCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/ConsultaTerceiros.css">
    <!-- TransacaoConsultaCSS -->
    <link rel="stylesheet" href="/css/PaginaMenus/Transacao.css">
    <!-- Fonte inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/img/Favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:ital,wght@1,100&display=swap"
          rel="stylesheet">

    <title>Prospera</title>
</head>

<body>
    <ul id="FundoMenusTerceiros">
        <ul class="Container TerceirosContainer">
            <li class="HeadMenuTerceiros">
                <h4>Cadastro de Devedor/Pagador</h4>
            </li>
            <li class="ImgFundoMenu"> <img src="/img/Terceiros/Tela-Inicial_Menu.png"> </li>
            <li class="TxtInfTerceiros">
                <span>
                    <h4>ID</h4>
                    <h4>Nome</h4>
                    <h4>Telefone</h4>
                    <h4>Email</h4>
                    <h4>Telefone2</h4>
                    <h4>Endereço</h4>
                    <h4>Cidade</h4>
                    <h4>Bairro</h4>
                    <h4>UF</h4>
                    <h4>CEP</h4>
                    <h4>Observacao</h4>
                    <h4 class="NomID">ID</h4>

                </span>
                <form asp-controller="MenuUsuario" asp-action="CadastrarTerceiro" method="post" id="TerceirosForm">
                    <input type="text" asp-for="NovoTerceiro.IdTerceiros" placeholder="ID do terceiro" id="TxtTerceirosId" />
                    <input type="text" asp-for="NovoTerceiro.NomeTerceiros" placeholder="Nome" id="TxtTerceirosNome" maxlength="30">
                    <input type="text" asp-for="NovoTerceiro.EmailTerceiros" placeholder="Email" id="TxtTerceirosEmail">
                    <input type="text" asp-for="NovoTerceiro.TelefoneTerceiros" placeholder="Telefone" id="TxtTerceirosTelefone" maxlength="100">
                    <input type="text" asp-for="NovoTerceiro.Telefone2Terceiros" placeholder="Telefone2" id="TxtTerceirosTelefone2">
                    <input type="text" asp-for="NovoTerceiro.EnderecoTerceiros" placeholder="Endereco" id="TxtTerceirosEndereco">
                    <input type="text" asp-for="NovoTerceiro.CidadeTerceiros" placeholder="Cidade" id="TxtTerceirosCidade">
                    <input type="text" asp-for="NovoTerceiro.BairroTerceiros" placeholder="Bairro" id="TxtTerceirosBairro">
                    <input type="text" asp-for="NovoTerceiro.UFTerceiros" placeholder="UF" id="TxtTerceirosUF">
                    <input type="text" asp-for="NovoTerceiro.CEPTerceiros" placeholder="CEP" id="TxtTerceirosCEP">
                    <input type="text" asp-for="NovoTerceiro.ObservacaoTerceiros" placeholder="Observação" id="TxtTerceirosObservacao">

                    <input type="hidden" name="acao" id="acao" value="cadastro" />
                    <button type="submit" name="btnAcao" value="cadastro" id="BtnTerceirosCadastrar">Cadastrar</button>
                    <button type="submit" name="btnAcao" value="exclusao" id="BtnTerceirosApagar">Excluir</button>
                    <button id="BtnTerceirosConsultar"><a asp-controller="Terceiros" asp-action="Consulta">Consultar</a></button>
                    <button id="BtnTerceirosLimpar">Limpar</button>
                    <button id="BtnTerceirosAlterar">Alterar</button>
                    <button type="submit" name="btnAcao" value="buscar" id="BtnTerceirosBuscar">Buscar</button>

                </form>
                <button id="BtnTerceirosVoltar"><a asp-controller="Home" asp-action="MenuUsuario">Voltar</a></button>
            </li>
            <li>

                <h4>Pessoa</h4>
                <!-- Conteúdo da tela oculta aqui -->

            </li>
        </ul>
    </ul>

    <script src="/js/PaginaInicial.js" asp-append-version="true"></script>
</body>

</html>