@model Usuario
@{
    Layout = null;
}

<h2>Aplicativo Mobile</h2>
<a href="https://play.google.com/store/apps/details?id=net.zedge.android&hl=pt_BR&gl=US" target="_blank">
    <img src="/img/PaginaInicial/Menu/Qrcode.png">
</a>
<h4>Clique no Qrcode ou escaneie para Baixar o aplicativo</h4>
