<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" 
                  arguments=".\Prospera.dll" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <httpErrors errorMode="Detailed" />
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="52428800" />
        </requestFiltering>
      </security>
      <!-- Configuração de encoding UTF-8 para resolver problemas de acentuação -->
      <staticContent>
        <remove fileExtension=".html" />
        <remove fileExtension=".css" />
        <remove fileExtension=".js" />
        <mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
        <mimeMap fileExtension=".css" mimeType="text/css; charset=utf-8" />
        <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
      </staticContent>
      <httpProtocol>
        <customHeaders>
          <add name="Content-Type" value="text/html; charset=utf-8" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>
