html {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;


}

ul,
li {
    list-style: none;
    text-align:center;
}

a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
}

input {
    font-family: 'Inter', sans-serif;

}

button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

body {
    background-color: var(--color-Fundo) !important;
    /* background-color: black; */
}

:root {
    --color-default: #242424;
    --color-primary: #e64c30;
    --color-segundary: #1B1572;
    --color-tertiary: #801D7B;
    --color-tertiary2: #fdf6f6;
    --color-quartiary: #7836FA;
    --color-quintiaty: #373435;
    --color-Sextiary: #605F60;
    --color-Fundo: #F4F2FF;
    --color-RoxaCardMov: #8C52FF;
}




html {
    position: relative;
    min-height: 100%;

}

body:not(.MenusSelecao h4) {
    font-size: 14px;


}

.HeadMenuTerceirosConsult {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3.5em;
    left: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
}

.HeadMenuTerceirosConsult h4 {
    color: var(--color-Sextiary);
    text-align: left;
    padding-left: 1em;
}

.HeadConsultContainer {
    /* background-color: blue; */
    width: 100%;
    z-index: 9999;
    position: relative;
    height: 3em;
    display: flex;

}

.HeadConsultContainer h4 {
    margin-left: 8em;
    color: var(--color-Sextiary);
}

/*#region h4 Head*/
.ConsutHead1 {
    position: absolute;
    left: -2.2em;
}

.ConsutHead2 {
    position: absolute;
    left: 7.2rem;
}

.ConsutHead3 {
    position: absolute;
    left: 16.2rem;
}

.ConsutHead4 {
    position: absolute;
    left: 24rem;
}

.ConsutHead5 {
    position: absolute;
    left: 32.8rem;
}

.ConsutHead6 {
    position: absolute;
    right: 25em;
}

.ConsutHead7 {
    position: absolute;
    right: 8.3em;
}

.ConsutHead8 {
    position: absolute;
    right: 3.5em;
}

/*#endregion*/

.TerceirosContainerConsult {
    height: 93%;
    width: 84%;
    top: 1em;
}

#FundoMenusTerceirosConsult:not(.Container) {
    display: none;
    background-color: white;
    width: 98%;
    left: 0;
    top: -1em;
    height: 100%;
    z-index: 99999;
    transition: .7s;
    position: absolute;
    /* Certifique-se de que outros elementos dentro da div não sejam afetados */
    backdrop-filter: blur(20px);
    /* Ajuste o valor para o desfoque desejado */
    /* opacity: 0.5; */
    background-color: rgba(195, 191, 191, 0.5);
    /* Cor vermelha com 50% de transparência */

}

.TxtInfTerceirosConsult {
    /* background-color: red; */
    position: absolute;
    width: 99%;
    height: 92%;
    display: flex;
    left: .3em;
    top: 4em;
    /* background-color: #605F60; */
}

.TtxTerceirosContainer li {
    display: inline-block;
    margin-right: 10px; /* Adicione margem à direita para separar os elementos */
}

.TxtInfTerceirosConsult button:hover {
    border-radius: 0px;
    transform: scale(1.1);
    transition: .3s;
}

.TtxTerceirosContainer input {
    display: inline;
    margin-left: .1em;
    width: 21.9vh;
    margin-top: .5em;
    border: none;
    /* background-color: #242424; */
    outline: none;
    text-align: center;
}

#TxtTerceirosIDConsult {
    width: 4em;
}

.TtxTerceirosContainer {
    background-color: white;
    width: 95%;
    top: 5em;
    height: 2.5em;
    left: 2.5em;
    position: absolute;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);

}

/* .TxtInfTerceirosConsult button {
    /* border-radius: 5px;
    border: none;
    outline: none;
    width: 20em;
    margin-bottom: -0.5em;
    height: 3em;
    margin-left: .3em;
    margin-top: 3em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .3s; 
    

} */


#BtnTerceirosVoltarConsult {
    background-color: white;
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 9%;
    height: 4%;
    z-index: 99999;
    color: var(--color-Sextiary);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 6px;
    transition: .3s;
}

#BtnTerceirosEndercosConsult {
    background-color: white;
    position: absolute;
    bottom: 1em;
    right: 14em;
    z-index: 99999;
    width: 9%;
    height: 4%;
    color: var(--color-Sextiary);
    cursor: pointer;
    border: none;
    outline: none;
    transition: .3s;
    border-radius: 6px;
}

#BtnTerceirosEndercosConsult:hover {
    transform: scale(1.1);
    transition: .3s;
    border-radius: 0px;
}

#BtnTerceirosVoltarConsult:hover {
    transform: scale(1.1);
    transition: .3s;
    border-radius: 0px;
}

.HeadConsultContainer h4 {
    padding-bottom: 2em;
    margin-right: 2em;
    color: var(--color-Sextiary);


}




/*#region consulta endereco*/
#TerceirosConsultEnd {
    backdrop-filter: blur(20px);
    /* Ajuste o valor para o desfoque desejado */
    /* opacity: 0.5; */
    background-color: rgba(195, 191, 191, 0.5);
    /* Cor vermelha com 50% de transparência */
    display: none;
    position: relative;
    width: 100%;
    height: 39.5rem;
    top: -1em;
    left: -.4em;
    margin: auto;
}

.TerceirosContainerConsultEnd {
    width: 70%;
    position: absolute;
    height: 60%;
    left: 18em;
    top: 6em;

}

.HeadMenuTerceirosConsultEnd {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 3em;
    left: 0;
    border-top-left-radius: 12px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
}

.TxtInfTerceirosConsultEnd {
    position: absolute;
    /* background-color: #605F60; */
    height: 100%;
    width: 99%;
    left: .6em;
}

.HeadContainer {
    /* background-color: blue; */
    width: 100%;
    z-index: 9999;
    position: relative;
    height: 3em;
    display: flex;
}

.HeadContainer h4 {
    color: var(--color-Sextiary);
    margin-left: 10em;
    top: -.4em;
}

/*#region h4 head*/
.Head1 {
    position: absolute;
    left: -6em;
}

.Head2 {
    position: absolute;
    left: 7em;
}

.Head3 {
    position: absolute;
    left: 12rem;
}

.Head4 {
    position: absolute;
    left: 20rem;
}

.Head5 {
    position: absolute;
    left: 28rem;
}

.Head6 {
    position: absolute;
    left: 36rem;
}

.Head7 {
    position: absolute;
    left: 44rem;
}

/*#endregion*/

#BtnTerceirosVoltarConsultEnd {
    background-color: var(--color-RoxaCardMov);
    position: absolute;
    right: 1em;
    width: 5%;
    border: none;
    outline: none;
    border-radius: 6px;
    height: 5%;
    top: .5em;
    z-index: 99999;
    color: white;
    transition: .2s;
    cursor: pointer;
}

#BtnTerceirosVoltarConsultEnd:hover {
    border-radius: 0px;
    transform: scale(1.1);
    transition: .2s;
}

.TtxEndContainer {
    background-color: white;
    width: 95%;
    top: 4em;
    height: 2.5em;
    left: 2.5em;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
}

.TtxEndContainer input {
    margin-left: .1em;
    width: 18.9vh;
    margin-top: .5em;
    border: none;
    outline: none;
    text-align: center;
}

/*#endregion*/



/*#endregion*/