html {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
  
  
  }
  
  ul,
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  
  }
  
  input {
    font-family: 'Inter', sans-serif;
  
  }


  
  body {
    background-color: var(--color-Fundo) !important;
    /* background-color: black; */
  }
  
  :root {
    --color-default: #242424;
    --color-primary: #e64c30;
    --color-segundary: #1B1572;
    --color-tertiary: #801D7B;
    --color-tertiary2: #fdf6f6;
    --color-quartiary: #7836FA;
    --color-quintiaty: #373435;
    --color-Sextiary:#605F60;
    --color-Fundo: #F4F2FF;
    --color-RoxaCardMov:#8C52FF;
  }
  
  
  
  
  html {
    position: relative;
    min-height: 100%;
  
  }
  
  body:not(.MenusSelecao h4) {
    font-size: 14px;
  
  
  }
  


  .HeadMenuTerceiros {
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
}

.HeadMenuTerceiros h4 {
    color: var(--color-Sextiary);
    text-align: left;
    padding-left: 3em;
}
.NomID{
  left: 27.6em;
}
.TerceirosContainer{
    height:94%;
    width: 34%;
    top: 1em;
}
#FundoMenusTerceiros:not(.Container) {
    display: none;
    background-color: white;
    width: 98%;
    left: 0;
    top: -1em;
    height: 100%;
    z-index: 99999;
    transition: .7s;
    position: absolute;
    /* Certifique-se de que outros elementos dentro da div não sejam afetados */
    backdrop-filter: blur(20px);
    /* Ajuste o valor para o desfoque desejado */
    /* opacity: 0.5; */
    background-color: rgba(195, 191, 191, 0.5);
    /* Cor vermelha com 50% de transparência */
    ;
}

.TxtInfTerceiros {
    /* background-color: red; */
    position: absolute;
    width: 100%;
    height: 92%;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 3.7em;
    /* background-color: #605F60; */
}

.TxtInfTerceiros button:hover {
    border-radius: 0px;
    transform: scale(1.1);
    transition: .3s;
}

.TxtInfTerceiros input {
    border-radius: 5px;
    border: none;
    outline: none;
    width: 26em;
    z-index: 99999;
    /* background-color: #801D7B; */
    margin-bottom: -0.5em;
    height: 3em;
    margin-left: 4em;
    margin-top: 3em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
#TxtTerceirosID{
  width: 5%;
  position: absolute;
  right: 16em;
  text-align: center;
}
.TxtInfTerceiros button {
    border-radius: 5px;
    border: none;
    outline: none;
    width: 20em;
    margin-bottom: -0.5em;
    height: 3em;
    margin-left: 4em;
    margin-top: 3em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: .3s;

}

#BtnTerceirosCadastrar {
    background-color: white;
    position: absolute;
    bottom: 1em;
    right: 2em;
    width: 20%;

}

#BtnTerceirosVoltar {
    background-color: var(--color-RoxaCardMov);
    position: absolute;
    top: -6em;
    right: 1em;
    width: 20%;
    height: 4%;
    color: white;
}
#BtnTerceirosConsultar{
    background-color: var(--color-RoxaCardMov);
    position: absolute;
    top: -6em;
    right:12em;
    width: 20%;
    height: 4%;
    color: white;
}
#BtnTerceirosLimpar {
    background-color: white;
    position: absolute;
    bottom: 1em;
    right: 13.4em;
    width: 20%;
}
#BtnTerceirosApagar{
  background-color: white;
  position: absolute;
  bottom: 1em;
  right: 24.9em;
  width: 20%;
}
#BtnTerceirosAlterar{
background-color: white;
position: absolute;
bottom: 1em;
left: .3em;
width: 20%;
}
#BtnTerceirosBuscar{
  background-color: white;
position: absolute;
top: 0;
right: 5em;
width: 20%;
}
#TxtContBancObservacao {
    width: 33em;
}

.TxtInfTerceiros span {
    position: absolute;
    left: 4em;
   
}

.TxtInfTerceiros span h4 {
    padding-bottom: 2.8em;
    text-align: left;

}

/* CARREGAMENTO DE PAGINA */
#CarregamentoMenu{
    display: none;
    z-index: 99999;
    width: 6%;
    position: absolute;
   left: 37rem;
   top: 16rem;
  }
  #CarregamentoMenu img{
  width:90px;
  animation: rotate 3s linear infinite;
  
  }
